.flash-box
  .flash-box__class
    グループを作成しました

.contents
  .contents__left
    .contents__left__header
      .contents__left__header__box
        seo
      .contents__left__header_logo1
        =link_to "", class: "btn" do
          = fa_icon "cog"
      .contents__left__header_logo2
        =link_to "", class: "btn" do
          = fa_icon "edit"
    .contents__left__footer1
      .contents__left__footer1__box1
        サンプル
      .contents__left__footer1__box2
        よろしくお願いします
  .contents__right
    .contents__right__header
      .contents__right__header__area
        .contents__right__header__area__box3
          サンプル
        .contents__right__header__area__mem
          Member : seo
      =link_to "", class: "contents__right__header_edit-btn" do
        Edit
    .contents__right__middle
      .contents__right__middle__down
        .contents__right__middle__down__area
          .contents__right__middle__down__area__box4
            seo
          .contents__right__middle__down__area__date
            2017-05-18 13:19:51 UTC
        .contents__right__middle__down__text
          はじめまして
      .contents__right__footer2
        .contents__right__footer2__area
          .contents__right__footer2__area__box5
            seo
          .contents__right__footer2__area__date
            2017-05-18 13:20:00 UTC
        .right-footer_text
          よろしくお願いします

    .contents__right__footer3
      .contents__right__footer3__form
        %input{placeholder: 'type a message', class: 'contents__right__footer3__form_submit',}
        =link_to "", class: "contents__right__footer3__form_btn2" do
          = fa_icon "image lg"
        =link_to "", class: "contents__right__footer3__form_send-btn" do
          Send