// .flash-box {
//   background-color: $blue;
//   width: 100vw;

//   &__class {
//     color: $white;
//     text-align: center;
//   }
// }
.contents {
  display: flex;

  &__left {
    height: 100vh;
    width: 300px;
    background-color: #2f3151;

    &__header {
      height: 96px;
      padding: 0 20px;
      background-color: #253141;
   
      &__box {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        line-height: 96px;
        float: left;
      }

      &_logo1 {
        @include float_right;
        margin-left: 5px;
      }

      &_logo2 {
        @include float_right;
      }
    }

    &__footer1 {
      padding: 0 20px;
      margin: 20px 0 40px 0;
    
      &__box1 {
        font-weight: bold;
        color: $white;
        margin: 20px 0 40px 0;

        .b {
          font-size: 15px;
          text-decoration: none;
          margin-bottom: 5px;
          color: $white;
        }
      
        .j {
          font-size: 11px;
          color: $white;
        }
      }

      // &__box2 {
      //   font-size: 11px;
      //   font-weight: bold;
      //   color: $white;
      // }
    }
  }
}
//   &__right {
//     width: calc(100vw - 300px);
  
//     &__header {
//       height: 96px;
//       border-bottom: solid #eeeeee;
//       padding: 0 40px;
    
//       &__area {
//         float: left;
      
//         &__box3 {
//           margin: 35px 0 15px 0;
//           font-size: 20px;
//           color: #333333;
//         }
      
//         &__mem {
//           font-size: 12px;
//           color: #999999;
//         }
//       }
    
//       &_edit-btn {
//         display: inline-block;
//         float: right;
//         border: solid 1px $blue;
//         margin-top: 28px;
//         color: $blue;
//         line-height: 40px;
//         width: 70px;
//         text-align: center;
//         text-decoration: none;
//       }
//     }
  
//     &__middle {
//       height: calc(100vh - 189px);
//       background-color: #fafafa;
    
//       &__down {
//         width: calc(100vw - 300px);
//         padding: 0 40px;
      
//         &__area {
//           display: flex;
//           margin-bottom: 10px;
//           padding-top: 46px;
        
//           &__date {
//             @include date;
//           }
//         }
//       }
//     }
  
//     &__footer2 {
//       width: calc(100vw - 300px);
//       padding: 0 40px;
    
//       &__area {
//         display: flex;
//         margin-top: 40px;
      
//         &__box5 {
//           font-size: 16px;
//           font-weight: bold;
//           color: #434a54;
//         }
      
//         &__date {
//           @include date;
//         }
//       }
//     }
  
//     &__footer3 {
//       height: 90px;
//       position: relative;
    
//       &__form {
//         height: 90px;
//         display: flex;
//         box-sizing: border-box;
//         border: solid #ddd;
//         border-width: 20px 140px 20px 40px;
      
//         &_submit {
//           height: 100%;
//           width: 100%;
//           padding: 0 50px 0 10px;
//         }

//         &_btn2 {
//           color: black;
//           position: absolute;
//           right: 160px;
//           top: 35px;
//         }
      
//         &_send-btn {
//           position: absolute;
//           top: 20px;
//           right: 25px;
//           background-color: $blue;
//           padding: 15px 25px;
//           color: $white;
//           text-decoration: none;
//         }
//       }
//     }
//   }
// }

.btn {
  color: white;
}